.AboutProfile__Column {
  float: left;
  width: 200px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.AboutProfile__Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.AboutProfile__Container {
  padding: 0 16px;
}

.AboutProfile__Title {
  color: grey;
}
