.CategoryPage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
}

/* Puedes usar esto para darle estilo individual a cada tarjeta si lo necesitas */
.CategoryPage__Item {
  height: 400px;
  width: 400px;
}
