.CollectionButtonWrapper {
  position: relative;
  text-align: center;
  font-style: italic;
  color: white;
}
.CollectionButtonWrapper__Name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
