.AllProductsPage__Title {
  text-align: center;
}
.AllProducts__Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
}
.EachProduct__Container {
  height: 400px;
  width: 400px;
}
