.small-container {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 20px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
  width: 600px;
  height: 600px;
}

.single-product .col-2 {
  padding: 20px;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #555;
}
.single-product .fa {
  color: #ff523b;
  margin-left: 10px;
}
p {
  color: #555;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
