.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 15px 7%;
}

.NavBar__Logo {
  width: 80px;
  cursor: pointer;
  border-radius: 50px;
  opacity: 0.5;
}

.NavBar__List {
  flex: 1;
  list-style: none;
  text-align: center;
}
.NavBar__List__Item {
  display: inline-block;
  margin: 10px 20px;
  font-size: 30px;
  cursor: pointer;
}

.SearchBox {
  display: flex;
  align-items: center;
  background: #242424;
  padding: 10px 20px;
  border-radius: 50px;
}

.SearchBox__Text {
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
}

.SearchBox__Text::placeholder {
  color: #fff;
}
.NavBar__CartIcon {
  width: 30px;
  cursor: pointer;
}
.Dropdown {
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin-top: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.Dropdown li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
}

.Dropdown li:hover {
  background-color: #f0f0f0;
}
