footer {
  background-color: #111;
}

.FooterContainter {
  width: 100%;
  padding: 70px 30px 20px;
}

.SocialIcons {
  display: flex;
  justify-content: center;
}
.SocialIcons__Icon {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.SocialIcons__Icon i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.SocialIcons__Icon:hover {
  background-color: #111;
  transition: 0.5s;
}

.SocialIcons__Icon:hover i {
  color: white;
  transition: 0.5s;
}

.FooterNav {
  margin: 30px 0;
}

.FooterNav__List {
  display: flex;
  justify-content: center;
}

.FooterNav__List__Item a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.FooterNav__List__Item a:hover {
  opacity: 1;
}

.FooterBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.FooterBottom__Copyright {
  color: white;
}

.Designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
