@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.ProductComponent {
  background-color: white;
  max-width: 300px;
  text-align: center;
  font-family: Roboto;
}
.ProductImage {
  width: 100%;
  height: fit-content;
}

.ProductDetails {
  background-color: #f9f7f7;
}
.ProductName {
  color: black;
  font-size: 22px;
  font-weight: bold;
}

.ProductPrice {
  color: black;
  font-size: 22px;
  font-weight: 300;
}
