.NewProducts {
  flex-wrap: wrap;
  background-color: #ccc;
}
.NewProducts h1 {
  text-align: center;
  color: black;
  font-size: 32px;
  font-weight: normal;
}
.NewProductsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
