.NewProducts {
  background-color: #d0d0d0;
}
.NewProducts h1 {
  text-align: center;
  color: black;
  font-size: 32px;
  font-weight: normal;
}
.NewProductsRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
