.NewProducts {
  background-color: #f8f8f8;
  padding: 60px 20px;
}
.NewProducts__Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.NewProducts__Item {
  display: flex;
  justify-content: center;
}
