.About__OurTeamText {
  text-align: center;
}
.About__Row {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.About__Section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
